In [1]:
import pandas as pd
import matplotlib.pyplot as plt
# Dependencies
import requests
from pprint import pprint
import numpy as np
import gmaps
import json
import os
import scipy.stats as stats
from datetime import datetime
import time

In [2]:
rainfall_df = pd.read_csv("useable_csv/rainfall_data_97.csv")
rainfall_df=rainfall_df.set_index("Year")

In [7]:
cols = rainfall_df.columns.tolist()

,AC_mm,AM_mm,AP_mm,MA_mm,MT_mm,PA_mm,RR_mm,TO_mm,Total_Rain_mm
Year,,,,,,,,,
1997,1956.87,2392.39,2461.7,1366.84,194.60,1890.37,1295.55,1797.95,1669.53
1998,2066.37,2365.83,2275.0,1260.08,1300.09,1960.03,2131.80,1369.07,1841.03
1999,2408.30,2801.17,2707.3,1747.31,1269.83,2299.05,2058.95,1798.32,2136.28
2000,1996.30,2744.24,2701.8,1722.03,1390.56,2639.34,2128.25,1874.73,2149.66
2001,1989.93,2627.40,2113.8,1612.00,1525.58,2203.98,1485.65,1632.73,1898.88
2002,2151.00,2796.67,2488.1,1575.52,1362.92,2111.79,1819.85,1610.62,1989.56
2003,2112.43,2454.19,1921.3,1565.42,1633.45,2001.39,1801.75,1531.02,1877.62
2004,2323.43,2253.52,2701.3,1816.52,1705.11,2242.48,1963.80,1780.80,2098.37
2005,1980.30,2264.61,2591.5,1569.72,1520.69,2197.34,2145.05,1799.42,2008.58
2006,2040.13,2548.23,2820.0,1736.33,1805.22,2366.07,2557.95,1775.48,2206.18
2007,2139.70,2466.76,2695.3,1400.45,1520.56,2082.81,2334.40,1301.90,1992.74
2008,2149.20,2792.31,2353.3,1871.64,1625.58,2475.76,2099.10,1765.07,2141.49
2009,2371.27,2754.99,2508.0,2119.07,1686.28,2578.98,1443.60,1794.98,2157.15
2010,1717.53,2397.96,2415.6,1363.13,1569.55,2047.58,2215.70,1538.67,1908.21
2011,1884.93,2733.34,2557.7,1915.70,1653.05,2414.48,2307.35,1837.95,2163.06
2012,2331.53,2874.19,2153.3,1184.87,1579.99,2055.76,1919.35,1461.03,1945.00
2013,2384.07,2873.33,2852.6,1448.72,1859.80,2246.06,1995.65,1838.85,2187.38
2014,2529.97,2662.19,2528.7,1475.94,1569.29,2298.46,1301.00,1717.28,2010.35
2015,2252.67,2059.82,2421.8,1090.09,1395.51,1827.39,1294.65,1259.05,1700.12
2016,1388.43,1920.34,2490.0,1222.16,1373.52,2026.54,2040.60,1385.07,1730.83
2017,2355.10,2488.58,2307.5,1535.54,1709.43,2243.17,1631.60,1475.87,1968.35
2018,2264.85,2482.77,2629.5,1596.53,1741.51,2313.14,2117.35,1671.07,2102.09
2019,2626.30,2634.98,2927.4,1542.58,1452.69,2402.52,2196.15,1316.58,2137.40

In [63]:
for i in cols:
    observed=rainfall_df.loc[:, i].to_frame()
    observed[1]=round(observed.mean()[i],2)
    observed.columns=["Observed","Expected"]
    #print(observed)
    critical_value = stats.chi2.ppf(q=0.95, df=len(observed)-1)
    chi_sqr = stats.chisquare(observed["Observed"], observed["Expected"])
    print(f"Chi square value for rainfall in {i} is {chi_sqr[0]} with a p_value of {chi_sqr[1]}")
    print(f"For rainfall in {i}, the critical value is {critical_value}\n")
#observed

Chi square value for rainfall in AC_mm is 764.9705182154958 with a p_value of 1.4676450419586436e-147
For rainfall in AC_mm, the critical value is 33.92443847144381

Chi square value for rainfall in AM_mm is 567.5693882277867 with a p_value of 5.489366761098039e-106
For rainfall in AM_mm, the critical value is 33.92443847144381

Chi square value for rainfall in AP_mm is 530.4128097695713 with a p_value of 3.273596461973296e-98
For rainfall in AP_mm, the critical value is 33.92443847144381

Chi square value for rainfall in MA_mm is 891.645320401846 with a p_value of 2.1055555232279295e-174
For rainfall in MA_mm, the critical value is 33.92443847144381

Chi square value for rainfall in MT_mm is 1557.7721752804487 with a p_value of 0.0
For rainfall in MT_mm, the critical value is 33.92443847144381

Chi square value for rainfall in PA_mm is 446.321677875083 with a p_value of 1.0683457161689752e-80
For rainfall in PA_mm, the critical value is 33.92443847144381

Chi square value for rainfall in RR_mm is 1469.8574350797737 with a p_value of 8.573224546314987e-298
For rainfall in RR_mm, the critical value is 33.92443847144381

Chi square value for rainfall in TO_mm is 537.2057524026615 with a p_value of 1.2445417913397177e-99
For rainfall in TO_mm, the critical value is 33.92443847144381

Chi square value for rainfall in Total_Rain_mm is 281.73666533390644 with a p_value of 6.050071699922589e-47
For rainfall in Total_Rain_mm, the critical value is 33.92443847144381

In [51]:
expected = round(observed.mean(),2)
    observed.columns=["Observed","Expected"]
    #print(expected)
    #observed[2] = expected
    #observed[1]=expected
    print(observed)

Year
1997    1956.87
1998    2066.37
1999    2408.30
2000    1996.30
2001    1989.93
2002    2151.00
2003    2112.43
2004    2323.43
2005    1980.30
2006    2040.13
2007    2139.70
2008    2149.20
2009    2371.27
2010    1717.53
2011    1884.93
2012    2331.53
2013    2384.07
2014    2529.97
2015    2252.67
2016    1388.43
2017    2355.10
2018    2264.85
2019    2626.30
Name: AC_mm, dtype: float64

In [40]:
    df = observed.rename(columns={i:"Observed", 1: "Expected"})
    critical_value = stats.chi2.ppf(q=0.95, df=len(df)-1)
    chi_sqr = stats.chisquare(df["Observed"], df["Expected"])
    print(critical_value)

2148.7221739130437

TypeError: rename() got an unexpected keyword argument 'columns'

In [30]:
critical_value

33.92443847144381

In [31]:
chi_sqr

Power_divergenceResult(statistic=764.9705182154958, pvalue=1.4676450419586436e-147)

In [ ]:
-