In [110]:
import pandas as pd
import matplotlib.pyplot as plt
# Dependencies
import requests
from pprint import pprint
import numpy as np
import gmaps
import json
import os
from scipy.stats import linregress
from datetime import datetime
import time

# Google developer API key
from config import g_key

In [111]:
stations_df = pd.read_csv("..csv_files/weather_stations_codes.csv", sep=";")

In [112]:
stations_df=stations_df.rename(columns={"Nome": "Name","Código": "Code", "Status da Operação":"Operation Status", "Ínicio da Operação": "Start of Operation"})

In [119]:
stations_df.to_csv("..csv_files/original_brazil_weather_stations.csv")
stations_ndf=stations_df.drop(["Operation Status","Start of Operation"], axis=1)

In [120]:
stations_ndf.to_csv("cleaned_brazil_weather_stations.csv")
stations_ndf[["Station", "State"]]=stations_ndf.Name.str.split("-",expand=True)
stations_ndf=stations_ndf.drop(["Name", "Latitude", "Longitude", "Altitude"],axis=1)
stations_ndf=stations_ndf.rename(columns={"Station": "Station Name", "Code":"Station"})

In [121]:
stations_ndf.to_csv("..csv_files/station_and_state.csv")

In [122]:
stations_ndf

     Station           Station Name State
0      82294                ACARAU     CE
1      82989           AGUA BRANCA     AL
2      83595               AIMORES     MG
3      83249            ALAGOINHAS     BA
4      82353              ALTAMIRA     PA
..       ...                    ...   ...
260    83642                VICOSA     MG
261    83648               VITORIA     ES
262    83344  VITORIA DA CONQUISTA     BA
263    83623           VOTUPORANGA     SP
264    82376               ZE DOCA     MA

[265 rows x 3 columns]

In [143]:
type(stations_ndf["State"][260])

str

In [144]:
num=str(stations_ndf["State"][260])

In [145]:
num

' MG'

In [146]:
states=[' AP'," AM"," MA"," MT"," PA"," RO"," RR"," TO"]
results=stations_ndf.loc[stations_ndf["State"].isin(states)]
results

     Station    Station Name State
4      82353       ALTAMIRA     PA
5      82970  ALTO PARNAIBA     MA
10     82659      ARAGUAINA     TO
17     82460        BACABAL     MA
19     82768         BALSAS     MA
..       ...             ...   ...
248    82317           TEFE     AM
251    82145     TRACUATEUA     PA
253    82361        TUCURUI     PA
254    82198        TURIACU     MA
264    82376        ZE DOCA     MA

[61 rows x 3 columns]